@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}
<div class="card">
    <h4 class="card-header">Login</h4>
    <div class="card-body">
        <section>
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                
                <div class="form-group">
                    <label asp-for="Input.AccountID" class="form-label"></label>
                    <input asp-for="Input.AccountID" class="form-control" />
                    <span asp-validation-for="Input.AccountID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password" class="form-label"></label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" id="loginSubmit" type="submit" value="Login" class="w-100 btn btn-lg btn-primary" />
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


