@page
@using Sakuri.Areas.Identity.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="card">
    <h4 class="card-header">Register</h4>
    <div class="card-body">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="form-group">
                <label asp-for="Input.AccountID"></label>
                <input asp-for="Input.AccountID" class="form-control" aria-required="true" />
                <span asp-validation-for="Input.AccountID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-90 btn btn-lg btn-primary">Register</button>
        </form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
