@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: var(--background-1);
    
}
html.dark-mode, body.dark-mode, .dark-mode {
    background-color: var(--background-1);
}
.bg-white {
    background-color: var(--background-2) !important;
    color: var(--rose) !important;
}
a.navbar-brand, a.text-dark, a.text-dark:hover {
    color: var(--rose) !important;
}

.border-top {
    size: 100rem;
    border-top: 1px dashed var(--border) !important;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
:root {
    /* light theme*/
    --background-0: #fffaf3;
    --background-1: #faf4ed;
    --background-2: #f2e9de;
    --button-text: #fff;
    --rose: #d7827e;
    --love: #b4637a;
    --subtle: #6e6a86;
    --gold: #ea9d34;
    --inactive: #9893a5;
    --text: #575279;
    --error: #eb6f92;
    --navbar-bg: #e4dfde;
    --navbar-hover: #eee9e6;
    --border: #e4dfde;
    --name-bg: #f2e9de;
}
.dark-mode {
    --background-0: var(--background-1);
    --background-1: #3a3a3a;
    --background-2: #2a2a2a;
    --button-text: #bebebe;
    --rose: #937f74;
    --love: #aa8f7c;
    --subtle: #bebebe;
    --gold: #987a6b;
    --inactive: #8b8f7e;
    --text: #bebebe;
    --error: #eb6f92;
    --navbar-bg: #987a6b;
    --navbar-hover: #877979;
    --border: var(--inactive);
    --name-bg: #2a2a2a;
}

a, h4, .btn-link, .navbar-nav  {
    color: var(--rose);
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: var(--rose);
}
.table
{
    color:var(--text);
}
.hidden
{
    display: none;
}
.table thead th
{
    border-bottom: 1px solid var(--background-2);
    background-color: var(--background-2);
}
.thead-light
{
    background-color: var(--background-2);
}
.text-dark
{
    color: var(--error) !important;
}
.table td, .table th
{
    border-top: 1px solid var(--background-2);
}
.form-control
{
    border-color:var(--border);
}
label {
    color:var(--love);
}

.btn-primary:hover
{
    background-color: var(--love);
    border-color: var(--subtle);
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle
{
    background-color: var(--gold);
}

.form-group {
    color: var(--love);
    
}
.card {
    border: 1.5px solid var(--border);
    left: 50%;
    align-self: center;
    align-content: center;
    transform: translate(-50%, +50%);
    box-shadow: 6px 6px var(--rose);
}
.card-header {
    background-color: var(--background-2);
}
.card-body {
    border-color: black;
    background-color: var(--background-1);
    
}
.form-group:InputText
{
    background-color: var(--background-0);
}
.form-control:valid
{
    background-color: var(--background-2);
    color: var(--text);
}

a:hover, .btn-link:hover {
    color: var(--rose);
    border-bottom: 2px solid var(--love);
    text-decoration: none;
}

h1 {
    color: var(--text);
}

.btn-primary {
    color: var(--button-text);
    background-color: var(--rose);
    border-color: var(--rose);
}
.button-add {
    color: var(--button-text);
    font-size: larger;
    padding: 7px;
    background-color: var(--rose);
    border-color: var(--rose);
    outline: 2px solid var(--rose);
}
.dropdown-menu
{
    background-color: var(--background-0);
    color: var(--rose);
    box-shadow: 6px 6px 2px;
}
.dropdown-item:hover
{
    background-color: var(--background-2);
    border-bottom: none;
}
.content {
    padding-top: 1.1rem;
    color:var(--text);
}

.blazored-modal
{
    background-color: var(--background-1);
    color: var(--rose);
    width: 30rem;
    box-shadow: 6px 6px 2px;
}
.btn-secondary
{
    background-color: var(--inactive);
    border-color:var(--inactive);
}
.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover
{
    color:var(--rose);
}

.invalid {
    outline: 1px solid var(--error);
}

.validation-message {
    color: var(--error);
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
    input[type=number] {
        -moz-appearance: textfield;
      }
