@page "/"
<h1 style="text-align:center;">Personal Expenses Manager</h1>
<h3 style="text-align:center;">Keep all your expenses clear!</h3>
<h4 style="width: 50%; margin:auto; padding: 15px">Get a full view of your spendings so you know where to save your money. See your spendings sorted by category, date, price, and much more!
</h4>
